<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Message</title>


    <!-- PATTERN CSS FILES -->
    <link rel="stylesheet" href="app/PUBLIC/components/message/message.css">

    <!-- end PATTERN CSS FILES -->

    <!-- build:css styles/styles.css -->
    <link rel="stylesheet" href="styles/styles.css">
    <!-- endbuild -->

  </head>
  <body>

    <!-- PATTERN START - /pattern-library/patterns/components/message -->
<div class="message">
	<div class="message--CONTENT">Aenean commodo ligula eget dolor. Aenean massa.</div>
</div>
<!-- PATTERN END - /pattern-library/patterns/components/message -->



    <!-- PATTERN JS FILES -->
    <script src="app/PUBLIC/components/message/message.js"></script>

    <!-- end PATTERN JS FILES -->

  </body>
</html>
