<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Show</title>


    <!-- PATTERN CSS FILES -->
    
    <!-- end PATTERN CSS FILES -->

    <!-- build:css styles/styles.css -->
    <link rel="stylesheet" href="styles/styles.css">
    <!-- endbuild -->

  </head>
  <body>

    <article class="show">
	<figure class="show__figure">
	  <img src="http://placehold.it/640x480&text=show__image-default" alt="Show image alternative text for the alt tag" class="show__figure__image show__image">
	  <figcaption class="show__figure__caption">Caption text for the show image which is a caption</figcaption>
	</figure>
	<h1 class="show__title">XYZ Showname</h1>
	<section class="show__body">
		This show goes through fascinating blah bespoke hella Marfa, narwhal twee cold-pressed pour-over. Bicycle rights Vice +1, Helvetica Shoreditch ethical street art banjo whatever ennui plaid try-hard food truck.
	</section>
</article>



    <!-- PATTERN JS FILES -->
    
    <!-- end PATTERN JS FILES -->

  </body>
</html>
