<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Newsblock Tester</title>


    <!-- PATTERN CSS FILES -->
    <link rel="stylesheet" href="app/PUBLIC/base/subcatbase23/test-include-header/test-include-header.css">
<link rel="stylesheet" href="app/PUBLIC/base/sometestsubcat/test-elm-p/test-elm-p.css">
<link rel="stylesheet" href="app/PUBLIC/components/blocks/test-newsblock/test-newsblock.css">

    <!-- end PATTERN CSS FILES -->

    <!-- build:css styles/styles.css -->
    <link rel="stylesheet" href="styles/styles.css">
    <!-- endbuild -->

  </head>
  <body>

    <!-- PATTERN START - /fixtures/components/test-newsblock -->
<article class="">
  <!-- PATTERN START - /fixtures/test-include-header -->

<header class="">
  <h1 class=""></h1>
  <p class="newslbock--header-p">Newsblock paragraph lorem ipsum this and that.</p>
</header>

<!-- PATTERN END - /fixtures/test-include-header -->
  <section>
        <p class="newslbock--header-p">Newsblock paragraph lorem ipsum this and that.</p>
  </section>
</header>
<!-- PATTERN END - /fixtures/components/test-newsblock -->



    <!-- PATTERN JS FILES -->
    <script src="app/PUBLIC/base/subcatbase23/test-include-header/test-include-header.js"></script>
<script src="app/PUBLIC/base/sometestsubcat/test-elm-p/test-elm-p.js"></script>
<script src="app/PUBLIC/components/blocks/test-newsblock/test-newsblock.js"></script>

    <!-- end PATTERN JS FILES -->

  </body>
</html>
