<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Figure Image</title>


    <!-- PATTERN CSS FILES -->
    <link rel="stylesheet" href="app/PUBLIC/base/img/img.css">
<link rel="stylesheet" href="app/PUBLIC/components/figure-image/figure-image.css">

    <!-- end PATTERN CSS FILES -->

    <!-- build:css styles/styles.css -->
    <link rel="stylesheet" href="styles/styles.css">
    <!-- endbuild -->

  </head>
  <body>

    <!-- PATTERN START - /pattern-library/patterns/components/figure-image -->
<figure class="base--figure-image">
  <!-- PATTERN START - /pattern-library/patterns/base/img -->
<img src="http://placehold.it/350x150&text=figure--image" alt="Aenean commodo ligula eget dolor. Aenean massa." class="figure--image">
<!-- PATTERN END - /pattern-library/patterns/base/img -->
  <figcaption>Aenean commodo ligula eget dolor. Aenean massa. Cumo sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</figcaption>
</figure>
<!-- PATTERN END - /pattern-library/patterns/components/figure-image -->



    <!-- PATTERN JS FILES -->
    <script src="app/PUBLIC/components/figure-image/figure-image.js"></script>

    <!-- end PATTERN JS FILES -->

  </body>
</html>
